
*{
    margin: 0;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1
{
    font-size: 60px;
    font-style: italic;
    text-align: center;
    padding: 20rem;
}
.banner
{
    width: 100%;
    height: 100vh;
    background-image:url(https://images.pexels.com/photos/2506990/pexels-photo-2506990.jpeg?auto=compress&cs=tinysrgb);
    background-size: cover;
    background-position: center;

}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    width: 120px;
    cursor: pointer;
    padding-left: 0%;
    background:gold
}
.navbar ul li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px ;
    position: relative;
}
.navbar ul li a{
    text-decoration:none;
    text-transform: uppercase;
    color:#fff;

}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background:#009688;
    position: absolute;
    left: 0%;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li :hover::after{
    width: 100%;

}
.content{
    text-align: center;
    
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid transparent;
    background: transparent;
    color: #fff;
    cursor: pointer;

}
/*if we want that the green line should not appear first and it will get appear only when i hover it then put width =0% and in the hover section put width=100%*/
